body {
  margin: 0;
  line-height: normal;
}

:root {
  /* --- Colores Esenciales --- */
  --color-cadetblue: #4fbac8;
  --Gray-100: #f5f5f5;
  --Gray-300: #d5d7da;
  --Gray-400: #a1a5ab; /* (Usado en EventCard) */
  --Gray-500: #717680;
  --Gray-700: #414651;
  --White: #fff;
  --Black: #000;

  /* --- Sombras Esenciales --- */
  --shadow-drop: 0px 0px 30px rgba(0, 0, 0, 0.25);
  --shadow-header: 0px 2px 4px rgba(0, 0, 0, 0.1);

  /* --- Gradientes Esenciales --- */
  --Background-events-2: linear-gradient(
    242.97deg,
    rgba(45, 206, 227, 0.05),
    rgba(36, 165, 182, 0.9)
  );

  --gradient-button-primary: linear-gradient(225deg, #00d9ff, #01c0fa);
  --gradient-button-primary-hover: linear-gradient(225deg, #00d1e0, #00a7d1);

  --gradient-header-footer: linear-gradient(
    135deg,
    #e0f7fa 0%,
    #b2ebf2 40%,
    #80deea 100%
  );
}
